@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    border: solid 3px #f6f6f6;
    border-radius: 25px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

body{
    width: auto;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0f0f0f;
    gap: 20px;
    color: #f6f6f6;
    font-family: "Paprika", system-ui;
}

.container__principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 50px;
    background-image: url(./assets//background_1.jpg);
    background-size: 100% 100%;
    font-size: 46px;
    border: solid 3px #f6f6f6;
    border-radius: 25px;
}

span{
    color: gold;
}

footer{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: double 3px #f6f6f6;
    border-radius: 25px;
    background-image: url(./assets/background_2.jpg);
    gap: 20px;
}

.rodape{
    font-size: 36px;
    text-decoration: underline;
}

.link__links{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.links{
    text-decoration: none;
    color: gold;
    font-size: 36px;
}

@media (max-width: 564px) {
    header{
        font-size: 15px;
    }

    body{
        padding: 10px 10px 10px 10px;
        margin: 10px;

    }

    .container__principal{
        padding: 10px;
        font-size: 28px;
        background-size: 100% 100%;
    }

    footer{
        gap: 5px;
    }

    .rodape{
        font-size: 28px;
    }

    .link__links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .links{
        font-size: 30px;
    }
}